.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f3f4f6; /* Light gray background */
}

.formContainer {
  background-color: #ffffff;
  border-radius: 0.75rem;
  padding: 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 30rem;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(to right, #1e3a8a, #3b82f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Roboto', sans-serif;
}

.container {
  overflow: hidden;
  height: 100vh;
}

